* { box-sizing:border-box; margin:0; padding:0; }

html {
    height:100%;
    width:100%;
}

body {
    height: 100%;
    width: 100%;
    background-color: #444;
    padding: 16px;
}

canvas { image-rendering:pixelated; }