
* { box-sizing:border-box; margin:0; padding:0; }

html {
    height:100%;
    width:100%;
}

body {
    display:grid;
    align-content:center;
    background-color:#444;
    justify-items:center;
    height:100%;
    width:100%;
}

canvas {
    margin: 16px;
    image-rendering:pixelated;
}

